* {
  box-sizing: border-box;
}
.songs {
  padding-left: 0;
}
.item {
  display: flex;
  align-items: center;
  height: 40px;
  position: relative;
}
.songs-wrapper {
  margin-top: 5px;
  border: 2px solid #ccc;
  max-width: 550px;
  background-color: #eaf9fb;
}
.btns-wrapper {
  position: absolute;
  right: 0;
}
.button {
  border: none;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-left: 10px;
}
.button:hover {
  background-color: #ccc;
}
.add {
  background-color: #e0e0e0;
}
.like {
  background-color: #ff9fa4;
  width: 55px;
  margin-right: 10px;
}
.delete {
  background-color: #a6e2f5;
  width: 55px;
  margin-right: 10px;
}
.input-box {
  border: 1px solid #ccc;
  padding: 10px;
}
.count-title span {
  color: #646464;
  font-weight: bold;
}
.like-icon {
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.unliked {
  opacity: 0;
}
.error-text {
  color: red;
}
